[user]
	name = Vikash Kothary
	email = kothary.vikash@gmail.com
	username = vikashkothary
[core]
	editor = vim
	excludesfile = /home/vikash/.gitignore
[web]
	browser = google-chrome
[gitflow "prefix"]
	feature = feature/
	release = release/
	hotfix = hotfix/
	support = support/
	versiontag = v
[alias]
	b = branch
[credential]
	helper = cache --timeout=3600
